@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Leckerli+One&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  scroll-behavior: smooth;
  background-color: #111c1f;
  font-family: "Inter", sans-serif;
  -webkit-font-feature-settings: "clig" off, "liga" off;
          font-feature-settings: "clig" off, "liga" off;
  font-style: normal;
}

body {
  width: 100%;
  overflow-x: hidden;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 40px;
}

section {
  margin-top: 100px;
}

h2 {
  color: #c2d3dc;
  -webkit-font-feature-settings: "clig" off, "liga" off;
          font-feature-settings: "clig" off, "liga" off;
  font-size: 40px;
  font-weight: 600;
  line-height: 125%;
}
h2 span {
  color: #c70017;
  font-style: italic;
}

h3 {
  color: #c2d3dc;
  -webkit-font-feature-settings: "clig" off, "liga" off;
          font-feature-settings: "clig" off, "liga" off;
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
}
h3 p {
  font-size: 20px;
}
h3 span {
  color: #c70017;
  font-style: italic;
}

.app-button {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  height: 64px;
  padding: 12px 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  border-radius: 100px;
  border: 1px solid #455358;
  color: #c2d3dc;
  -webkit-transition: color 0.5s ease, background-color 0.5s ease;
  transition: color 0.5s ease, background-color 0.5s ease;
}
.app-button * {
  -webkit-transition: color 0.5s ease, background-color 0.5s ease;
  transition: color 0.5s ease, background-color 0.5s ease;
}
.app-button_descr {
  -webkit-font-feature-settings: "clig" off, "liga" off;
          font-feature-settings: "clig" off, "liga" off;
  font-weight: 600;
}
.app-button_available {
  font-size: 10px;
  line-height: 140%;
}
.app-button_platform {
  font-size: 16px;
  line-height: 150%;
}
.app-button:hover {
  color: #c9d7e1;
  background-color: rgba(47, 53, 57, 0.5098039216);
}
.app-button:hover * {
  color: #c9d7e1;
  background-color: rgba(47, 53, 57, 0.5098039216);
}
.app-button svg path {
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}
.app-button:hover svg path {
  fill: #c9d7e1;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60px;
  height: 60px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 100px;
  border: 1px solid #adb8c1;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}
.social svg path {
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}
.social:hover {
  background: #111c1f;
}
.social:hover svg path {
  stroke: #403f3d;
}

.header {
  height: 60px;
  margin: 20px 0;
}
.header_logo {
  text-decoration: none;
  color: #c70017;
}
.header h1 {
  font-family: "Leckerli One", cursive;
  min-width: 130px;
  text-align: end;
  font-size: 42px;
  font-style: italic;
}
.header_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  min-height: 60px;
  align-items: center;
}
.header_logo-hamburger-wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header_logo-hamburger-wrapper .hamburger {
  display: none;
}
.header_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  padding: 0;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
}
.header_item {
  border-bottom: 2px solid transparent;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}
@media (hover: hover) {
  .header_item:hover {
    border-bottom: 2px solid #c70017;
  }
}
.header .menu-link_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  border-bottom: 2px solid transparent;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}
.header .menu-link_link:hover {
  border-bottom: 2px solid #c70017;
}

.link-text {
  color: #c2d3dc;
  -webkit-font-feature-settings: "clig" off, "liga" off;
          font-feature-settings: "clig" off, "liga" off;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  text-decoration: none;
}

.enjoy {
  color: #c9d7e1;
  margin-top: 20px;
  padding: 100px;
  border-radius: 40px;
  overflow: hidden;
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 6, 12, 0.8))), url(../assets/img/texture.jpg) center/cover no-repeat;
  background: linear-gradient(rgba(0, 6, 12, 0.8) rgba(0, 15, 20, 0.8)), url(../assets/img/texture.jpg) center/cover no-repeat;
}
.enjoy * {
  background-color: transparent;
}
.enjoy_hero {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 530px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  display: flex;
  gap: 40px;
  border-radius: 40px;
}
.enjoy_title {
  margin: 0;
  font-size: 72px;
  font-weight: 600;
  line-height: 105%;
}
.enjoy_title span {
  color: #c70017;
  font-style: italic;
}
.enjoy_descr {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}
.enjoy_button {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 64px;
  width: 200px;
  border-radius: 100px;
  background: #111c1f;
  text-align: center;
  padding: 20px 78px;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.enjoy_button:hover {
  color: #c70017;
}

.favorites {
  text-align: center;
}

.slider {
  margin-top: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #c2d3dc;
  -webkit-font-feature-settings: "clig" off, "liga" off;
          font-feature-settings: "clig" off, "liga" off;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.slider * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.slider_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 640px;
}
.slider_items {
  overflow: hidden;
  width: 480px;
}
.slider_line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 0.5s -webkit-transform;
  transition: 0.5s -webkit-transform;
  transition: 0.5s transform;
  transition: 0.5s transform, 0.5s -webkit-transform;
}
.slider_arrow {
  border-radius: 100px;
  border-style: solid;
  border-color: #455358;
  border-width: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 0px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 60px;
  height: 60px;
  position: relative;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.slider_arrow:hover {
  background: rgba(47, 53, 57, 0.5098039216);
}
.slider_arrow svg {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.slider_arrow:hover svg {
  background-color: rgba(47, 53, 57, 0.5098039216);
}
.slider_arrow:hover svg path {
  stroke: #111c1f;
}
.slider .slide_img {
  max-height: 480px;
}
.slider .slide_descr {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}
.slider .slide_title {
  margin-top: 20px;
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
}
.slider .slide_text {
  margin-top: 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}
.slider .slide_price {
  margin-top: 16px;
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
}
.slider .hidden {
  display: none;
}
.slider_controls {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.slider_controls .control {
  position: relative;
  width: 40px;
  height: 4px;
  border-radius: 100px;
  background: #adb8c1;
}
.slider_controls .control_progress {
  position: absolute;
  left: 0;
  border-radius: 100px;
  width: 0;
  height: 4px;
  background-color: #455358;
  -webkit-transition: width 0.6s ease;
  transition: width 0.6s ease;
}

.about_title {
  font-size: 59.9px;
}

.gallery {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.gallery_column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}
.gallery_img {
  -webkit-filter: brightness(90%) contrast(90%);
          filter: brightness(90%) contrast(90%);
  max-width: 660px;
  overflow: hidden;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.gallery_img img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  width: 100%;
  -webkit-transition: -webkit-transform 500ms ease;
  transition: -webkit-transform 500ms ease;
  transition: transform 500ms ease;
  transition: transform 500ms ease, -webkit-transform 500ms ease;
}
.gallery_img:hover img {
  -webkit-transform: scale(1);
          transform: scale(1);
  -o-object-fit: cover;
     object-fit: cover;
}
.gallery_img__square {
  max-height: 590px;
}
.gallery_img__rectangle {
  max-height: 430px;
}

.modal {
  z-index: 99;
  background: rgba(6, 27, 39, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #c2d3dc;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}
.modal-closed {
  display: none;
}
.modal_window {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin: 0;
  width: 800px;
  border-radius: 40px;
  padding: 16px;
  background: #c9d7e1;
}
.modal_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
.modal_img {
  border-radius: 40px;
  width: 310px;
  height: 310px;
  -o-object-fit: cover;
     object-fit: cover;
}
.modal_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.modal_title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.25;
}
.modal_descr {
  margin-top: 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}
.modal_size .tab_buttons, .modal_add .tab_buttons {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}
.modal_price {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.25;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.modal_alert {
  border-top: 1px solid #adb8c1;
  padding: 12px 0;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 10px;
  line-height: 1.4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.modal_close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 8px;
  border: 1px solid rgba(47, 53, 57, 0.5098039216);
  border-radius: 100px;
  padding: 10px;
  height: 44px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background: #c9d7e1;
}
.modal_close:hover {
  background: rgba(47, 53, 57, 0.5098039216);
  color: #c9d7e1;
  cursor: pointer;
}

.header_menu-link__underline {
  border-bottom: 1px solid #c2d3dc;
  cursor: default;
}

.menu {
  margin-top: 20px;
}
.menu_title {
  margin: 0 auto;
  max-width: 800px;
  text-align: center;
  color: #c2d3dc;
  font-size: 60px;
  font-weight: 600;
  line-height: 125%;
}
.menu_title span {
  color: #c70017;
  font-style: italic;
}

.tab {
  margin-top: 40px;
}
.tab_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 16px;
}
.tab_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.tab_content {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.tab_refresh {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 40px auto 0 auto;
  display: flex;
  width: 60px;
  height: 60px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 100px;
  border: 1px solid #455358;
  cursor: pointer;
}

.menu-card {
  width: 310px;
  height: 506px;
  border-radius: 40px;
  border: 1px solid #adb8c1;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.menu-card_img {
  width: 310px;
  height: 310px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  overflow: hidden;
  border-radius: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.menu-card_img img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  width: 100%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.menu-card_img img:hover {
  -webkit-transform: scale(1);
          transform: scale(1);
  -o-object-fit: cover;
     object-fit: cover;
}
.menu-card_text {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 196px;
  gap: 12px;
  color: #c2d3dc;
  background: transparent;
}
.menu-card_text .menu-card_price {
  margin-top: auto;
}
.menu-card_title {
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
}
.menu-card_descr {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}
.menu-card_price {
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
}
.menu-card:hover img {
  -webkit-transform: scale(1);
          transform: scale(1);
  -o-object-fit: cover;
     object-fit: cover;
}

.tab-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8px 16px 8px 8px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  border-radius: 100px;
  border: 1px solid #adb8c1;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.tab-button_img {
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3px 7px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 100px;
  background: #adb8c1;
}
.tab-button_img img {
  width: 16px;
  background: transparent;
  -o-object-fit: cover;
     object-fit: cover;
}
.tab-button_descr {
  color: #c2d3dc;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  background: transparent;
}
.tab-button:hover {
  background: rgba(47, 53, 57, 0.5098039216);
}
.tab-button:hover .tab-button_img {
  background: #111c1f;
}
.tab-button.active {
  background: rgba(47, 53, 57, 0.5098039216);
}
.tab-button.active .tab-button_img {
  background: #111c1f;
}
.tab-button.active .tab-button_descr {
  color: #c9d7e1;
}

.footer {
  margin-top: 100px;
  margin-bottom: 40px;
}
.footer_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 100px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 100px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-radius: 40px;
  background: rgba(47, 53, 57, 0.5098039216);
}
.footer_column {
  min-width: 380px;
  max-width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 40px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
  background-color: transparent;
  width: 568px;
}
.footer_column * {
  background-color: transparent;
}
.footer_title {
  margin-top: 0;
  color: #c9d7e1;
}
.footer_title span {
  color: #c70017;
}
.footer_socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.footer_socials a {
  text-decoration: none;
}
.footer_socials a:hover i {
  color: #c70017;
}
.footer_socials i {
  text-decoration: none;
  color: #c9d7e1;
}
.footer_contact-us {
  color: #c9d7e1;
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
}
.footer_contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
  color: #c9d7e1;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
}
.footer_contacts i {
  width: 50px;
}
.footer_contacts a {
  color: #c9d7e1;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-item-align: start;
      align-self: flex-start;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  -webkit-transition: 0.8s all;
  transition: 0.8s all;
}
.footer_contacts a:hover span {
  border-bottom: 2px solid #c70017;
}

@media (max-width: 1439px) {
  .tab_content {
    max-width: 1000px;
  }
}
@media (max-width: 1199px) {
  .mobile_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .mobile_column {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer_wrapper {
    padding: 100px 60px;
  }
}
@media (max-width: 850px) {
  .modal_window {
    width: 688px;
  }
}
@media (max-width: 791px) {
  .header {
    position: relative;
  }
  .header .link-text {
    font-size: 32px;
    line-height: 125%;
  }
  .header_wrapper {
    display: block;
  }
  .header_nav {
    padding-top: 60px;
    z-index: 9;
    width: 100vw;
    height: 100vh;
    position: fixed;
    right: -100%;
    font-size: 32px;
    line-height: 125%;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
  }
  .header_nav_open {
    top: 100px;
    right: 0;
    visibility: visible;
    opacity: 1;
  }
  .header_menu-link {
    z-index: 9;
    position: fixed;
    gap: 30px;
    right: -50%;
    top: 600px;
    -webkit-transition: 0.5s right;
    transition: 0.5s right;
  }
  .header_menu-link .menu-link_link {
    gap: 16px;
  }
  .header_menu-link .menu-link_icon svg {
    width: 40px;
    height: 40px;
  }
  .header_menu-link_open {
    right: 50%;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
    visibility: visible;
    opacity: 1;
  }
  .header_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 60px;
  }
  .header_logo-hamburger-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header_logo-hamburger-wrapper .hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 44px;
    height: 44px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
    gap: 8px;
    border-radius: 100px;
    border: 1px solid #455358;
  }
  .header_logo-hamburger-wrapper .hamburger span {
    display: block;
    width: 16px;
    height: 1.5px;
    background: #c2d3dc;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
  }
  .header_logo-hamburger-wrapper .hamburger_open {
    z-index: 10;
  }
  .header_logo-hamburger-wrapper .hamburger_open span:nth-child(1) {
    -webkit-transform: translateY(5px) rotate(-45deg);
            transform: translateY(5px) rotate(-45deg);
  }
  .header_logo-hamburger-wrapper .hamburger_open span:nth-child(2) {
    -webkit-transform: translateY(-5px) rotate(45deg);
            transform: translateY(-5px) rotate(45deg);
  }
  .enjoy {
    padding: 100px 60px;
  }
  .gallery_img {
    max-width: 688px;
  }
  .gallery_img__rectangle {
    display: none;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: 768px;
    padding: 0 16px;
  }
  h2 {
    font-size: 32px;
    line-height: 125%;
  }
  .enjoy {
    padding: 60px 16px;
  }
  .enjoy_title {
    font-size: 42px;
    line-height: 115%;
  }
  .slider_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 532px;
  }
  .slider_arrow {
    display: none;
  }
  .slider_items {
    max-width: 348px;
  }
  .slider_img {
    height: 348px;
  }
  .slide img {
    height: 348px;
    width: 348px;
  }
  .about_title {
    font-size: 32px;
  }
  .gallery_img {
    height: 590px;
  }
  .gallery_img img {
    height: 120%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .mobile_wrapper {
    gap: 40px;
  }
  .mobile_column {
    width: 348px;
    max-height: 380px;
  }
  .mobile_column_img img {
    height: 348px;
    width: 348px;
  }
  .mobile_apps {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
  .footer_wrapper {
    padding: 60px 16px;
    gap: 40px;
  }
  .footer_column {
    min-width: 300px;
  }
  .menu_title {
    font-size: 32px;
  }
  .modal_window {
    max-width: 342px;
  }
  .modal_img {
    display: none;
  }
}
@media (max-width: 360px) {
  .modal_window {
    max-width: 220px;
  }
  .modal_descr, .modal_alert {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */