.enjoy {
  color: $text-light;
  margin-top: 20px;
  padding: 100px;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  &_video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    display: block;
    z-index: 0;
  }
  .gradient-overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(
      to bottom left,
      rgb(0, 2, 3),
      rgba(91, 110, 123, 0.456)
    );
    z-index: 1;
    pointer-events: none;
  }

  &_hero {
    text-align: right;
    position: relative;
    z-index: 2;
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    align-self: stretch;
    display: flex;
    gap: 40px;
  }

  &_title {
    max-width: 530px;
    margin: 0;
    font-size: 52px;
    font-weight: 400;
    line-height: 105%;

    span {
      color: $text-accent;
      font-family: $second-family;
    }
  }

  &_descr {
    max-width: 530px;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
  }
}
