.footer {
  margin-top: 100px;
  margin-bottom: 40px;

  &_wrapper {
    display: flex;
    padding: 100px;
    justify-content: center;
    align-items: center;
    gap: 100px;
    flex-wrap: wrap;
    border-radius: 4px;
    background: $background-container;
  }

  &_column {
    //min-width: 380px;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    flex: 1 0 0;
    background-color: transparent;
    width: 568px;

    * {
      background-color: transparent;
    }
  }

  &_title {
    margin-top: 0;
    color: $text-light;

    span {
      color: $text-accent;
    }
  }

  &_socials {
    display: flex;
    gap: 12px;
    transition: all 0.3s ease;
    a {
      text-decoration: none;

      &:hover i {
        color: $text-accent;
      }
    }
    i {
      text-decoration: none;
      color: $text-light;
    }
  }

  &_contact-us {
    color: $text-light;
    font-size: 24px;
    font-weight: 600;
    line-height: 125%;
  }

  &_contacts {
    display: flex;
    flex-direction: column;
    gap: 16px;
    color: $text-light;
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
    i {
      width: 50px;
    }

    a {
      color: $text-light;
      flex: 1;
      align-self: flex-start;
      text-decoration: none;
      border-bottom: 2px solid transparent;
      transition: 0.8s all;

      span {
        border-bottom: 2px solid transparent;
        transition: 0.8s all;
        &:hover {
          @media (hover: hover) {
            border-bottom: 2px solid $text-accent;
          }
        }
      }
    }
  }
}
