.header {
  height: 60px;
  margin: 20px 0;
  &_logo {
    text-decoration: none;

    color: $text-accent;
  }
  h1 {
    font-family: $second-family;
    min-width: 130px;
    text-align: end;
    font-size: 42px;
  }

  &_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    min-height: 60px;
    align-items: center;
  }

  &_logo-hamburger-wrapper {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .hamburger {
      display: none;
    }
  }

  &_list {
    display: flex;
    list-style-type: none;
    padding: 0;
    column-gap: 40px;
  }

  &_item {
    border-bottom: 2px solid transparent;
    transition: 0.5s all;

    &:hover {
      @media (hover: hover) {
        border-bottom: 2px solid $text-accent;
      }
    }
  }

  .menu-link {
    &_link {
      display: flex;
      align-items: center;
      gap: 8px;
      border-bottom: 2px solid transparent;
      transition: 0.5s all;

      &:hover {
        border-bottom: 2px solid $text-accent;
      }
    }
  }
}

.link-text {
  color: $text-dark;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  text-decoration: none;
}
