.header {
  height: 120px;
  margin: 0;

  &_logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  h1 {
    margin: 0;
    margin-top: 10px;
    width: 150px;
    height: 100%;
    text-align: end;
    font-size: 42px;
    background-image: url("../assets/img/logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    cursor: pointer;
  }

  &_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    min-height: 60px;
    align-items: center;
  }

  &_logo-hamburger-wrapper {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .hamburger {
      display: none;
    }
  }

  &_list {
    display: flex;
    list-style-type: none;
    padding: 0;
    column-gap: 40px;
  }
}

.link-text {
  color: $text-dark;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  text-decoration: none;
  padding: 10px;
  border-bottom: 2px solid transparent;
  transition: 0.5s all;

  @media (hover: hover) {
    &:hover {
      color: $text-accent;
      border-bottom: 2px solid $text-accent;
    }
  }
}
