.modal {
  z-index: 99;
  background: $background-backdrop;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: $text-dark;
  font-family: $font-family;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;

  &-closed {
    display: none;
  }

  &_window {
    // background: $background-body;
    // border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 100vh;
  }

  &_wrapper {
    flex-shrink: 0;
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &_img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border-radius: 4px;
  }

  &_content {
    max-width: 600px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  &_title {
    display: none;
  }

  &_descr {
    text-align: center;
    background: transparent;
    margin-top: 12px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
  }

  &_close {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background: transparent;
    color: $text-accent;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 10px 20px;
    height: 44px;
    transition: all 0.5s ease;

    &:hover {
      background: $background-body;
      color: $text-light;
      cursor: pointer;
    }
  }
}

.header {
  &_menu-link__underline {
    border-bottom: 1px solid $text-dark;
    cursor: default;
  }
}

.projects {
  margin-top: 20px;

  &_title {
    margin: 0 auto;
    max-width: 800px;
    text-align: center;
    color: $text-dark;
    font-size: 60px;
    font-weight: 600;
    line-height: 125%;

    span {
      color: $text-accent;
      font-family: $second-family;
    }
  }
}

.tab {
  margin-top: 40px;

  &_buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
  }

  &_items {
    display: flex;
    justify-content: center;
  }

  &_content {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
  }

  &_refresh {
    display: flex;
    margin: 40px auto 0 auto;
    display: flex;
    width: 60px;
    height: 60px;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    border: 1px solid $border-dark;
    cursor: pointer;
  }
}

.menu-card {
  width: 310px;
  border-radius: 4px;
  border: 1px solid $border-light;

  &_img {
    width: 100%;
    height: 310px;
    flex-shrink: 0;
    overflow: hidden;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
      transform: scale(1);
      width: 100%;
      transition: all 0.5s;

      &:hover {
        transform: scale(1.2);
        object-fit: cover;
      }
    }
  }

  &_title {
    display: none;
  }

  cursor: pointer;
  transition: all 0.5s;

  &:hover {
    img {
      transform: scale(1.2);
      object-fit: cover;
    }
  }
  &_descr {
    display: none;
  }
}

.tab-button {
  display: flex;
  padding: 16px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 5px;
  border: 1px solid $border-light;
  cursor: pointer;
  transition: all 0.5s;

  &_descr {
    color: $text-dark;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    background: transparent;
  }

  &:hover {
    background: $background-container;

    .tab-button {
      &_img {
        background: $background-body;
      }
    }
  }

  &.active {
    background: $background-container;

    .tab-button {
      &_img {
        background: $background-body;
      }

      &_descr {
        color: $text-light;
      }
    }
  }
}
