.modal {
  z-index: 99;

  background: $background-backdrop;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: $text-dark;
  font-family: $font-family;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;

  &-closed {
    display: none;
  }

  &_window {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    width: 80%;
    border-radius: 40px;
    padding: 1px;
    background: $background-body;
  }

  &_wrapper {
    display: flex;
    //flex-direction: column;
    border-radius: 40px;
    gap: 20px;
    background: transparent;
  }

  &_img {
    border-radius: 40px;
    width: 50%;
    object-fit: cover;
  }

  &_content {
    display: flex;
    gap: 20px;
    flex-direction: column;
    border-radius: 40px;
    background: transparent;
  }
  &_header {
    background: transparent;
  }

  &_title {
    background: transparent;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.25;
  }

  &_descr {
    background: transparent;
    margin-top: 12px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
  }

  &_close {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 8px;
    border: 1px solid $background-container;
    border-radius: 100px;
    padding: 10px;
    height: 44px;
    transition: all 0.5s ease;
    background: $text-light;

    &:hover {
      background: $background-container;
      color: $text-light;
      cursor: pointer;
    }
  }
}

.header {
  &_menu-link__underline {
    border-bottom: 1px solid $text-dark;
    cursor: default;
  }
}

.projects {
  margin-top: 20px;

  &_title {
    margin: 0 auto;
    max-width: 800px;
    text-align: center;
    color: $text-dark;
    font-size: 60px;
    font-weight: 600;
    line-height: 125%;

    span {
      color: $text-accent;
      font-style: italic;
    }
  }
}

.tab {
  margin-top: 40px;

  &_buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
  }

  &_items {
    display: flex;
    justify-content: center;
  }

  &_content {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
  }

  &_refresh {
    display: flex;
    margin: 40px auto 0 auto;
    display: flex;
    width: 60px;
    height: 60px;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    border: 1px solid $border-dark;
    cursor: pointer;
  }
}

.menu-card {
  width: 310px;
  height: 506px;
  border-radius: 40px;
  border: 1px solid $border-light;

  &_img {
    width: 310px;
    height: 310px;
    flex-shrink: 0;
    overflow: hidden;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      transform: scale(1.1);
      width: 100%;
      transition: all 0.5s;

      &:hover {
        transform: scale(1);
        object-fit: cover;
      }
    }
  }

  &_text {
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: 196px;
    gap: 12px;
    color: $text-dark;
    background: transparent;
  }

  &_title {
    font-size: 24px;
    font-weight: 600;
    line-height: 125%;
  }

  &_descr {
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
  }

  cursor: pointer;
  transition: all 0.5s;

  &:hover {
    img {
      transform: scale(1);
      object-fit: cover;
    }
  }
}

.tab-button {
  display: flex;
  padding: 16px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  border: 1px solid $border-light;
  cursor: pointer;
  transition: all 0.5s;

  &_img {
    width: 30px;
    height: 30px;
    display: flex;
    padding: 3px 7px;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    //background: $border-light;

    img {
      width: 16px;
      background: transparent;
      object-fit: cover;
    }
  }

  &_descr {
    color: $text-dark;
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
    background: transparent;
  }

  &:hover {
    background: $background-container;

    .tab-button {
      &_img {
        background: $background-body;
      }
    }
  }

  &.active {
    background: $background-container;

    .tab-button {
      &_img {
        background: $background-body;
      }

      &_descr {
        color: $text-light;
      }
    }
  }
}
