* {
  box-sizing: border-box;
  margin: 0;
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
  font-feature-settings: "clig" off, "liga" off;
  font-style: normal;
}

body {
  background-color: $background-body;
  width: 100%;
  overflow-x: hidden;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 40px;
}

section {
  margin-top: 100px;
}

h2 {
  color: $text-dark;
  font-size: 32px;
  font-weight: 400;
  line-height: 125%;

  span {
    color: $text-accent;
    font-family: $second-family;
  }
}

h3 {
  color: $text-dark;
  font-size: 20px;
  font-weight: 200;
  line-height: 125%;
  p {
    font-size: 20px;
  }
}

.social {
  display: flex;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  border: 2px solid $border-light;
  color: $text-light;
  transition: 0.5s all;
  cursor: pointer;

  @media (hover: hover) {
    &:hover {
      background: $background-body;
      color: $text-accent;
      border: 2px solid $text-accent;
    }
  }
}

.input {
  gap: 8px;
  height: 64px;
  width: 400px;
  border-radius: 5px;
  color: $text-light;
  background: $background-body;
  padding: 20px;
  transition: all 0.5s ease-out;
  border: 1px solid $border-light;
}

.btn {
  display: flex;
  gap: 8px;
  justify-content: center;
  height: 64px;
  width: 200px;
  border-radius: 5px;
  color: $text-light;
  text-decoration: none;
  background: $background-body;
  text-align: center;
  padding: 20px 78px;
  border: none;
  transition: all 0.5s ease-out;

  &:hover {
    color: $text-accent;
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin-top: 32px;

  .btn {
    width: 400px;
    background: $background-body;
  }
}
