$text-dark: #c2d3dc;
$text-light: #c9d7e1;
$text-accent: #c70000;

$background-body: #11181f;
$background-container: #2f343982;
$background-backdrop: rgba(3, 12, 16, 0.895);

$border-light: #adb8c1;
$border-dark: #455358;

$font-family: "Montserrat", sans-serif;
$second-family: "Architects Daughter", cursive;
